extends layout.pug

block content

  h1 Anime Directory
    table
      thead
        tr
          th Name
          th Age
          th Phone Number
          th Gender
          th Favorite Anime
          th Top 3 Anime
      tbody
        each user in users
          tr
            td
              - const url = user._id
              a(href='/api/v1/users/' + user._id)
                p #{user.name}
                //- - const full = '/users/' + url
                //- p #{full}
            td #{user.age}
            td #{user.phone_number}
            td #{user.gender}
            td #{user.favorite_anime}
            td
              ul
                li #{user.top_3_anime[0]}
                li #{user.top_3_anime[1]}
                li #{user.top_3_anime[2]}
